    <article class="blog">
      <div class="title">
        <h1>{{title}}</h1>
        <span>{{content}}</span>
      </div>
      <div class="meta">
        Written By: {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>