{{!-- template to see the edit blog form --}}
<article class="edit-blog-container">
  <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>Edit Blog</h2>
<div class="overall-edit-blog">
  <form class="edit-blog-form">
    <div class="form-group" id="blog-edit-group">
      <input id="blog-title-edit" name="blog-title" class="form-control" type="text" value="{{blog.title}}" />
      <textarea id="blog-content-edit" rows="10" name="blog-content" class="form-control form-control-lg" type="textarea" value="{{blog.content}}"></textarea>
    </div>
    <div class="meta-edit">
      {{format_date blog.created_at}}
        |
      <a href="/blog/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <div class="edit-blog-btns">
      <button type="submit" class="save-blog-btn">Save Blog</button>
      <button type="button" class="delete-blog-btn">Delete Blog</button>
    </div>
  </form>
</div>
</article>

{{!-- form to add a new comment and view all comments on the blog --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="login-buttons" type="submit">Add Comment</button>
  </div>
</form>

{{> comments blog.comments}}

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>